{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/Login-Form-Clean.css' %}">
{% endblock stylesheets %}
{% block content %}
    <section class="profile login-clean">
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <h2 class="text-center"><strong>Cab</strong></h2>
            {{form.From.errors}}
            <div class="mb-3"><input class="form-control" type="text" name="From" placeholder="From Place" value="{{form.initial.From}}"></div>
            {{form.To.errors}}
            <div class="mb-3"><input class="form-control" type="text" name="To" placeholder="To Place" value="{{form.initial.To}}"></div>
            {{form.doj.errors}}
            <div class="mb-3"><input class="form-control" type="date" name="doj" value="{{form.initial.doj}}"></div>
            {{form.time.errors}}
            <div class="mb-3"><input class="form-control" type="text" name="time" placeholder="Time" value="{{form.initial.time}}"></div>
            {{form.vseats.errors}}
            <div class="mb-3"><input class="form-control" type="number" name="vseats" placeholder="Vacant Seats" value="{{form.initial.vseats}}"></div>

            {% if form.non_field_errors %}
                <p style="color:red">
                    {{form.non_field_errors}}
                </p>
            {% endif %}

            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Done</button></div>

        </form>
    </section>
{% endblock content %}



